# SSH Host Aliases (as defined in your ~/.ssh/config)
SSH_PROD=prod
SSH_FAILOVER=vpsau
SSH_STAGING=aws

# Required for the internal sync script (Prod -> Failover)
FAILOVER_USER=colby

# Cloudflare Configuration (Required for IP changes)
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ZONE_ID=
CLOUDFLARE_ACCOUNT_ID=
